import './index.css'      // qui dentro hai @tailwind base; @tailwind components; @tailwind utilities
@import "./gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "OperaSignature";
    src: url("/fonts/OperaSignature-Script.otf") format("opentype");
    font-display: swap;
  }
  
 